certifi==2020.11.8
cffi==1.14.4
construct==2.5.3
cryptography==3.2.1
Django==2.2.3
django-cors-headers==3.1.1
django-filter==2.2.0
django-redis==4.12.1
django-shortuuidfield==0.1.3
djangorestframework==3.10.1
djangorestframework-jwt==1.11.0
future==0.18.2
haystack==0.42
mysqlclient==2.0.1
pefile==2019.4.18
pycparser==2.20
pycryptodomex==3.7.2
Pygments==2.4.2
PyJWT==1.7.1
PyMySQL==0.9.3
python-alipay-sdk==1.10.1
python-memcached==1.59
python-ptrace==0.9.7
pytz==2019.1
redis==3.5.3
shortuuid==0.5.0
six==1.12.0
sqlparse==0.3.0
wincertstore==0.2
